.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .task-form {
  margin: 10px;
} */

/* .task {
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.task span {
  padding-right: 10px;
}

.task .actions {
  color: blue;
} */